{% extends 'base.html' %}

{% block content %}
      <div class="m-5 w-50 mx-auto">
      {% if old_password_not_matching %}
            <p style="color:red;">Your existing password is not matching with you input.</p>
      {% endif %}
      <p id="message"></p>
      <form method="POST" action="{% url 'change_password' %}" id="password_form">
            {% csrf_token %}
            <div class="form-group p-3">
                  <label for="old_password">Old Password:</label><br>
                  <input class="form-control" type="password" id="old_password" name="old_password" required>
            </div>

            <div class="form-group p-3">
                  <label for="new_password1">New Password:</label><br>
                  <input class="form-control" type="password" id="new_password1" name="new_password1" required>
            </div>

            <div class="form-group p-3">
                  <label for="new_password2">Confirm New Password:</label><br>
                  <input class="form-control" type="password" id="new_password2" name="new_password2" required>
            </div>

            <div class="form-group p-3">
                  <button class="form-group btn btn-primary" type="submit">Change Password</button>
            </div>
      </form>
      </div>

      <script>
            document.getElementById('password_form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission

            // Get the values of the password and confirm password fields
            const password = document.getElementById('new_password1').value;
            const confirmPassword = document.getElementById('new_password2').value;
            const messageElement = document.getElementById('message');

            // Check if the passwords match
            if (password !== confirmPassword) {
                  messageElement.style.color = 'red';
                  messageElement.textContent = 'Passwords do not match!';
                  // Optionally, you can allow form submission here
                  // event.target.submit();
            }else{
                  event.target.submit();
            }
            });
      </script>

{% endblock %}